PORT=4000
MONGODB_URI=
ALLOWED_ORIGINS=http://localhost:5173

# Firebase Admin (Service Account fields)
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
# Note: if copying from JSON, replace \n with actual newlines
FIREBASE_PRIVATE_KEY=


